.main_button,
.single_add_to_cart_button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce button.button,
.woocommerce a.button,
.woocommerce button.button.alt,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
#wpforms-submit-192,
.simple_add_to_cart_button {
    position: relative;
    width: 255px!important;
    height: 45px;
    border: none;
    border-radius: 20px;
    background: $primary_black;
    box-shadow: $primary_box_shadow;

    font-family: $font_body_bold;
    font-size: 0.9rem;
    font-weight: $font_bold;
    color: $primary_light_brown;
    text-decoration: none!important;
    text-align: center;

    cursor: pointer;
    transition: all 0.2s ease-out;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 98px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: $breakpoints_sm) {
        margin-left: 0;
        margin-right: 0;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover {
        background: $primary_light_brown;
        color: $primary_black;
        transition: all 0.2s ease-out;
        text-decoration: none;
    }

    &:hover:after {
        transform: translateY(-5px) rotate(-5deg);
        transition: transform 0.3s ease-out;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 98px;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background: $primary_brown;
        box-shadow: inset -4px 4px 8px rgba($primary_black, 0.35);
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 24.5px;
        width: 48.91px;
        height: 52px;
        background: url('../../media/svg/button_icon.svg') no-repeat center center / cover;
        z-index: 2;
        transition: transform 0.3s ease-in-out;
    }

    &:focus {
        outline: none;
    }
}

.main_button--burger_list {
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &:before {
        border-bottom-left-radius: 0px;
    }
}

#wpforms-submit-192 {
    background: $primary_light_brown;
    color: $primary_black;

    &:hover {
        background: $primary_white;
        color: $primary_brown;
    }
}

a.added_to_cart.wc-forward {
    color: $primary_black;
    margin-bottom: 1rem;
    text-decoration: none;
    transition: color 200ms ease-in;

    @media only screen and (min-width: $breakpoints_md) {
        margin-bottom: 2rem;
    }

    &:hover {
        color: $primary_brown;
        transition: color 200ms ease-out;
    }
}