<!-- BURGER MAKER BANNER -->

<section class="burger_maker--banner">
    <div class="burger_maker_border--top"></div>
    <div class="burger_maker_banner--container d-flex flex-column justify-content-center align-items-center">
        <img src="/media/svg/burger_maker_banner_title.svg" alt="banner_title">
        <h2>Stwórz smacznego burgera</h2>
        <a href='/burger-maker'><button class="main_button">Burger Maker</button></a>
    </div>
</section>

<!-- END BURGER MAKER BANNER -->