    <!-- FOOTER -->

    <footer>
        <div class="yellow_border"></div>
        <section class="d-flex flex-column">
            <h2>Chcesz nas o coś zapytać ?</h2>
            <p>Napisz do nas za pomocą naszego formularza kontaktowego</p>
            <div class="footer_contact--link d-flex justify-content-between align-items-center">
                <img src="/media/svg/arrow_left_icon.svg" alt="left arrow">
                <p>Zakładka Kontakt</p>
            </div>
            <div class="footer_social_media--container d-flex justify-content-between align-items-center">
                <img class="img-fluid" src="/media/svg/facebook_icon.svg" alt="facebook_icon">
                <img class="img-fluid" src="/media/svg/instagram_icon.svg" alt="instagram_icon">
                <img class="img-fluid" src="/media/svg/twitter_icon.svg" alt="instagram_icon">
            </div>
            <p class='footer_credentials'>WorkOn Project | Designed by freepik.com</p>
        </section>
    </footer>

    <!-- END FOOTER -->

</body>
</html>