<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burgeromania</title>
    <link rel="stylesheet" href="/styles/css/global.css">
</head>
<body>

    <!-- HEADER -->

    <header>
        <nav>
            <img src="" alt="logo">
            <img src="" alt="menu_icon">
        </nav>
        <div>
            <img src="" alt="hero_image">
        </div>
    </header>

    <!-- END HEADER -->

