.review_slider--container {
    width: 100%;
    position: relative;
    background: url('/media/jpg/review_slider_background.jpg') no-repeat center center / cover;

    & > h2 {
        font-family: $font_heading_title;
        font-size: 1.25rem;
        color: $primary_light_brown;
        text-align: center;
        line-height: calc(#{$base_line_height} + 1rem);
        margin: 2rem auto;

        @media only screen and (min-width: $breakpoints_xs) {
            font-size: 1.625rem;
            margin: 2.5rem auto;
        }
    }

    & > .review_quote--container {
        position: relative;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        background: rgba($primary_brown, 0.8);
        min-height: 360px;
        padding: 1.5rem 2rem;

        & > .review_border--left,
        & > .review_border--right {
            position: absolute;
            bottom: 0;
            width: 10px;
            height: 230px;
            background: $primary_light_brown;
        }

        & > .review_border--left {
            left: 0;
        }

        & > .review_border--right {
            right: 0;
        }

        & > .review_quote {
            position: relative;
            width: 100%;
            max-width: 650px;

            & > img#quote_up {
                position: absolute;
                top: 0;
                left: 0;
            }

            & > img#quote_down {
                position: absolute;
                bottom: 0;
                right: 0;
                transform: rotate(180deg);
            }

            & > p {
                margin: 3.5rem auto;
                text-align: center;
                font-size: 0.9rem;
                color: $primary_light_brown;
                line-height: calc(#{$base_line_height} + 0.5rem);

                @media only screen and (min-width: $breakpoints_xs) {
                    font-size: 1rem;
                }
            }
        }

    }
}