// TYPOGRAPHY
$font_heading_title: 'Pacifico',
cursive;
$font_body_bold: 'Roboto',
sans-serif;

$base_font_size: 16px;
$base_line_height: 1.5rem;

$font_normal: 400;
$font_bold: 900;
// END TYPOGRAPHY