.burger_maker--container {
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    top: calc(10px - 60px);
    padding-top: 2rem;

    @media only screen and (min-width: $breakpoints_xs) {
        top: calc(10px - 120px);
    }

    & > div:first-child {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: $breakpoints_sm) {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    & > div > div.burger_maker_visualization--container {
        width: 85%;
        max-width: 500px;
        min-height: 300px;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        margin: 2rem auto;

        @media only screen and (min-width: $breakpoints_sm) {
            width: 40%;
            margin-left: 0;
            position: sticky;
            top: 200px;
        }

        & > img {
            position: absolute;
            max-width: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        & > img#burger_top_graphic {
            top: 0;
            z-index: 10;
        }

        & > img#green_graphic {
            top: 60px;
            z-index: 9;
        }

        & > #cucumbers_graphic {
            top: 120px;
            z-index: 8;
        }

        & > #tomatoes_graphic {
            top: 135px;
            z-index: 7;
        }

        & > #onion_rings_graphic {
            top: 155px;
            z-index: 6;
        }

        & > #cheese_graphic {
            top: 150px;
            z-index: 5;
        }

        & > #meat_graphic {
            top: 160px;
            z-index: 4;
        }

        & > #burger_bottom_graphic {
            top: 170px;
            z-index: 3;
        }
    }

    & > #message {
        display: none;
    }

    & > div > div:last-child {
        @media only screen and (min-width: $breakpoints_sm) {
            width: 45%;
        }
    }

    & > div > div > #current_ingredients {
        max-width: 400px;
        font-size: 1.25rem;
        text-align: center;

        & > span {
            font-size: 1rem;
        }
    }

    & > div > div > ul {
        background: #FFF;
        border-radius: 5px;
        margin-top: 2rem;
        width: 100%;
        max-width: 400px;
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;

        & > li:first-child {
            padding: 1rem 9px;
            margin: 0;
            background: $primary_brown;
            color: $primary_light_brown;
            font-size: 1rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            text-align: center;
        }

        & > li:last-child {

            & > ul {
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: space-between;
                flex-flow: column nowrap;

                // @media only screen and (min-width: $breakpoints_sm) {
                //     flex-flow: row nowrap;
                // }

                & > li:nth-child(1),
                & > li:nth-child(2) {
                    width: 100%;

                    // @media only screen and (min-width: $breakpoints_sm) {
                    //     flex-flow: row nowrap;
                    //     width: 48%;
                    // }

                    & > ul {
                        list-style: none;
                        padding: 0;

                        & > li {
                            border-top: 1px solid rgba(0,0,0,.1);
                            padding: 1.5rem 0.5rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & > label {
                                font-size: 1rem;
                                margin: 0;
                            }

                            & label > input[type=checkbox] {
                                width: 18px;
                                height: 18px;
                                position: relative;
                                margin-right: 1.5rem;

                                &:after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 0;
                                    left: 0;
                                    margin: 0 auto;
                                    background-color: $primary_brown;
                                    display: inline-block;
                                    visibility: visible;
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 5px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 5px;
                                }

                                &:checked:after {
                                    content: "\00a0\2714";
                                }
                            }

                            & > div {
                                width: 80px;
                                height: 80px;
                                margin-right: 12px;
                            }

                            & > div#thumbnail_ser {
                                background: url('../../media/svg/cheese.svg') no-repeat center center / contain;
                            }

                            & > div#thumbnail_wieprzowina {
                                background: url('../../media/svg/meat.svg') no-repeat center center / contain;
                            }

                            & > div#thumbnail_sałata {
                                background: url('../../media/svg/green.svg') no-repeat center center / contain;
                            }

                            & > div#thumbnail_cebula {
                                background: url('../../media/svg/onion_rings.svg') no-repeat center center / contain;
                            }

                            & > div#thumbnail_pomidor {
                                background: url('../../media/svg/tomatoes.svg') no-repeat center center / contain;
                            }

                            & > div#thumbnail_ogórek {
                                background: url('../../media/svg/cucumbers.svg') no-repeat center center / contain;
                            }
                        }
                    }
                }
            }
        }
    }

    & > .woocommerce-simple-add-to-cart,
        .simple_button {
        margin-top: 3.5rem!important;

        @media only screen and (min-width: $breakpoints_sm) {
            max-width: 255px;
            margin-left: auto;
            margin-right: auto;
        }

        & > button {
            margin-bottom: 2rem!important;
        }
    }
}