footer {
    flex-shrink: 0;
    width:100%;
    min-height: $footer_height;
    background: url("/media/jpg/footer_background.jpg") no-repeat left top / cover;
    position: relative;
    padding-top: 2.5rem;

    & > .yellow_border {
        position: absolute;
        top: 0;
        width: 100%;
        height: 10px;
        background: $primary_light_brown;
    }

    & > section {

        width: 90%;
        max-width: 960px;
        margin: 0 auto;
        padding-right: 3.5rem;

        & > h2 {
            font-family: $font_heading_title;
            font-size: calc(#{$base_font_size} + 0.8rem);
            line-height: calc(#{$base_line_height} + 1rem);
            color: $primary_light_brown;
            margin-bottom: 1.5rem;
        }

        & > p {
            color: $primary_white;
            font-size: 0.875rem;
        }

        & > .footer_contact--link {
            max-width: 155px;
            cursor: pointer;
            margin: 0.875rem 0;

            & > a {
                color: $primary_white;
                margin-bottom: 0;
                font-size: 0.875rem;
                text-decoration: none;

                &:hover {
                    color: $primary_light_brown;
                }
            }
        }

        & > .footer_social_media--container {
            width: 130px;
            height: 32px;
            margin: 1.25rem 0;

            & > a {
                height: 100%;
            }

            & > a > img {
                height: 100%;
                cursor: pointer;
            }
        }

        & > .footer_credentials {
            font-size: 0.635rem;
            margin-top: 0.25rem;
        }
    }

}