<%- include('./components/header.ejs', { title: title, picture: picture }) -%>

<main class="page--container">

    <section class="page_overlay--container d-flex flex-column">
        <div class="main_border main_border--top"></div>
        <div class="main_border main_border--left"></div>
        <div class="main_border main_border--right"></div>

        <!-- 404 INFO -->

        <div class="not_found_info--container d-flex flex-column" style="width: 90%; max-width: 960px; margin: 0 auto; padding: 0 1.25rem;">
            <h1>Coś poszło nie tak...</h1>
            <p>Strona, którą szukasz nie istnieje. Przejdź do strony głównej.</p>
            <a href="/">Strona główna</a>
        </div>

        <!-- END 404 INFO -->

    </section>

    <%- include('./components/burger_maker_banner.ejs') -%>

</main>

<%- include('./components/footer.ejs') -%>