<%- include('./components/header.ejs') -%>

<main class="front_page--container">

    <!-- REVIEW SLIDER -->

    <section class="review_slider--container d-flex flex-column justify-content-between">
        <h2>Poznaj opinie naszych klientów</h2>
        <div class="review_quote--container d-flex justify-content-center align-items-center">
            <div class="review_border--left"></div>
            <div class="review_border--right"></div>
            <div class="review_quote">
                <img id="quote_up" src="/media/svg/quote_icon.svg" alt="quote_icon_up">
                <img id="quote_down" src="/media/svg/quote_icon.svg" alt="quote_icon_down">
                <p>Vivamus at augue in massa lobortis dictum. Sed enim lacus, 
                eleifend eu sodales ac, luctus a orci. Aliquam erat volutpat. 
                Ut vel sollicitudin purus. Phasellus maximus tincidunt nulla nec 
                efficitur. Ut vitae luctus sem, non consequat magna. Nunc orci orci, 
                faucibus id aliquam a, tincidunt ac tellus. </p>
            </div>
        </div>
    </section>

    <!-- REVIEW SLIDER -->

    <!-- BURGER MAKER BANNER -->

    <section class="burger_maker--banner">
        <div class="burger_maker_border--top"></div>
        <div class="burger_maker_banner--container d-flex flex-column justify-content-center align-items-center">
            <img src="/media/svg/burger_maker_banner_title.svg" alt="banner_title">
            <h2>Stwórz smacznego burgera</h2>
            <button class="main_button">Burger Maker</button>
        </div>
    </section>

    <!-- END BURGER MAKER BANNER -->

</main>

<%- include('./components/footer.ejs') -%>