<%- include('./components/header.ejs') -%>

<main class="front_page--container" data-title='Wybierz swój ulubiony burger'>

    <!-- BURGER LIST DISPLAY -->

    <section class="home_burger_list_display--container d-flex flex-column">
        <div class="home_burger_list_items--container d-flex">

            <!-- BURGER LIST ITEM -->

            <div class="home_burger_list_item--container d-flex">
                <div class="burger_list_item_pic--container">
                    <div class="burger_list_item--pic">
                        <div class="burger_list_item_border--bottom"></div>
                        <div class="burger_list_item_border--left"></div>
                        <div class="burger_list_item_border--right"></div>
                        <img src="/media/jpg/burger_item_pic_01.jpg" alt="burger_item_pic_01">
                    </div>
                    <div class="burger_list_item--ranking d-flex justify-content-center align-items-center">
                        <div class="star--full"></div>
                        <div class="star--full"></div>
                        <div class="star--full"></div>
                        <div class="star--full"></div>
                        <div class="star--empty"></div>
                    </div>
                    <h2>Burger name</h2>
                </div>
            </div>

            <!-- END BURGER LIST ITEM -->

            <!-- BURGER LIST ITEM -->

            <div class="home_burger_list_item--container d-flex">
                <div class="burger_list_item_pic--container">
                    <div class="burger_list_item--pic">
                        <div class="burger_list_item_border--bottom"></div>
                        <div class="burger_list_item_border--left"></div>
                        <div class="burger_list_item_border--right"></div>
                        <img src="/media/jpg/burger_item_pic_02.jpg" alt="burger_item_pic_02">
                    </div>
                    <div class="burger_list_item--ranking d-flex justify-content-center align-items-center">
                        <div class="star--full"></div>
                        <div class="star--full"></div>
                        <div class="star--full"></div>
                        <div class="star--full"></div>
                        <div class="star--empty"></div>
                    </div>
                    <h2>Burger name</h2>
                </div>
            </div>

            <!-- END BURGER LIST ITEM -->

            <!-- BURGER LIST ITEM -->

            <div class="home_burger_list_item--container d-flex">
                <div class="burger_list_item_pic--container">
                    <div class="burger_list_item--pic">
                        <div class="burger_list_item_border--bottom"></div>
                        <div class="burger_list_item_border--left"></div>
                        <div class="burger_list_item_border--right"></div>
                        <img src="/media/jpg/burger_item_pic_03.jpg" alt="burger_item_pic_03">
                    </div>
                    <div class="burger_list_item--ranking d-flex justify-content-center align-items-center">
                        <div class="star--full"></div>
                        <div class="star--full"></div>
                        <div class="star--full"></div>
                        <div class="star--full"></div>
                        <div class="star--empty"></div>
                    </div>
                    <h2>Burger name</h2>
                </div>
            </div>

            <!-- END BURGER LIST ITEM -->

        </div>
        <button class="main_button">Sprawdź menu</button>
    </section>

    <!-- END BURGER LIST DISPLAY -->

    <!-- REVIEW SLIDER -->

    <section class="review_slider--container d-flex flex-column justify-content-between">
        <h2>Poznaj opinie naszych klientów</h2>
        <div class="review_quote--container d-flex justify-content-center align-items-center">
            <div class="review_border--left"></div>
            <div class="review_border--right"></div>
            <div class="review_quote">
                <img id="quote_up" src="/media/svg/quote_icon.svg" alt="quote_icon_up">
                <img id="quote_down" src="/media/svg/quote_icon.svg" alt="quote_icon_down">
                <p>Vivamus at augue in massa lobortis dictum. Sed enim lacus, 
                eleifend eu sodales ac, luctus a orci. Aliquam erat volutpat. 
                Ut vel sollicitudin purus. Phasellus maximus tincidunt nulla nec 
                efficitur. Ut vitae luctus sem, non consequat magna. Nunc orci orci, 
                faucibus id aliquam a, tincidunt ac tellus. </p>
            </div>
        </div>
    </section>

    <!-- REVIEW SLIDER -->

    <!-- BURGER MAKER BANNER -->

    <section class="burger_maker--banner">
        <div class="burger_maker_border--top"></div>
        <div class="burger_maker_banner--container d-flex flex-column justify-content-center align-items-center">
            <img src="/media/svg/burger_maker_banner_title.svg" alt="banner_title">
            <h2>Stwórz smacznego burgera</h2>
            <button class="main_button">Burger Maker</button>
        </div>
    </section>

    <!-- END BURGER MAKER BANNER -->

</main>

<%- include('./components/footer.ejs') -%>