<%- include('./components/header.ejs', { title: title, picture: picture }) -%>

<main class="page--container">

    <section class="page_overlay--container d-flex flex-column justify-content-center align-items-center">
        <div class="main_border main_border--top"></div>
        <div class="main_border main_border--left"></div>
        <div class="main_border main_border--right"></div>

        <!-- REVIEW LIST -->

        <!-- END REVIEW LIST -->

    </section>

    <%- include('./components/burger_maker_banner.ejs') -%>

</main>

<%- include('./components/footer.ejs') -%>