<%- include('./components/header.ejs') -%>

<main class="page--container">

    <section class="page_overlay--container">
        <div class="main_border main_border--top"></div>
        <div class="main_border main_border--left"></div>
        <div class="main_border main_border--right"></div>

    </section>

    <!-- BURGER MAKER BANNER -->

    <section class="burger_maker--banner">
        <div class="burger_maker_border--top"></div>
        <div class="burger_maker_banner--container d-flex flex-column justify-content-center align-items-center">
            <img src="/media/svg/burger_maker_banner_title.svg" alt="banner_title">
            <h2>Stwórz smacznego burgera</h2>
            <button class="main_button">Burger Maker</button>
        </div>
    </section>

    <!-- END BURGER MAKER BANNER -->
</main>

<%- include('./components/footer.ejs') -%>