<%- include('./components/header.ejs') -%>

<main class="page--container">

    <section class="page_overlay--container d-flex flex-column justify-content-center align-items-center">
        <div class="main_border main_border--top"></div>
        <div class="main_border main_border--left"></div>
        <div class="main_border main_border--right"></div>

        <!-- BURGER LIST ITEM -->

        <div class="burger_list_item--container d-flex">
            <div class="burger_list_item_pic--container">
                <div class="burger_list_item--pic">
                    <div class="burger_list_item_border--bottom"></div>
                    <div class="burger_list_item_border--left"></div>
                    <div class="burger_list_item_border--right"></div>
                    <img src="/media/jpg/burger_item_pic_01.jpg" alt="burger_item_pic_01">
                </div>
                <div class="burger_list_item--ranking d-flex justify-content-center align-items-center">
                    <div class="star--full"></div>
                    <div class="star--full"></div>
                    <div class="star--full"></div>
                    <div class="star--full"></div>
                    <div class="star--empty"></div>
                </div>
            </div>
            <div class="burger_list_item--info">
                <h2 class="burger_list_item--title">Burger Name</h2>
                <p class="burger_list_item--ingredients">Składniki: sałata, wieprzowina, pomidor, ogórek, ser</p>
                <p class="burger_list_item--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum sodales magna at dictum.</p>
                <p class="burger_list_item--price">Cena: 11zł</p>
                <button class="main_button main_button--burger_list">Zamów</button>
            </div>
        </div>

        <!-- END BURGER LIST ITEM -->

        <!-- BURGER LIST ITEM -->

        <div class="burger_list_item--container d-flex">
            <div class="burger_list_item_pic--container">
                <div class="burger_list_item--pic">
                    <div class="burger_list_item_border--bottom"></div>
                    <div class="burger_list_item_border--left"></div>
                    <div class="burger_list_item_border--right"></div>
                    <img src="/media/jpg/burger_item_pic_02.jpg" alt="burger_item_pic_02">
                </div>
                <div class="burger_list_item--ranking d-flex justify-content-center align-items-center">
                    <div class="star--full"></div>
                    <div class="star--full"></div>
                    <div class="star--full"></div>
                    <div class="star--full"></div>
                    <div class="star--empty"></div>
                </div>
            </div>
            <div class="burger_list_item--info">
                <h2 class="burger_list_item--title">Burger Name</h2>
                <p class="burger_list_item--ingredients">Składniki: sałata, wieprzowina, pomidor, ogórek, ser</p>
                <p class="burger_list_item--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum sodales magna at dictum.</p>
                <p class="burger_list_item--price">Cena: 11zł</p>
                <button class="main_button main_button--burger_list">Zamów</button>
            </div>
        </div>

        <!-- END BURGER LIST ITEM -->

        <div class="burger_list_item--container d-flex">
            <div class="burger_list_item_pic--container">
                <div class="burger_list_item--pic">
                    <div class="burger_list_item_border--bottom"></div>
                    <div class="burger_list_item_border--left"></div>
                    <div class="burger_list_item_border--right"></div>
                    <img src="/media/jpg/burger_item_pic_01.jpg" alt="burger_item_pic_01">
                </div>
                <div class="burger_list_item--ranking d-flex justify-content-center align-items-center">
                    <div class="star--full"></div>
                    <div class="star--full"></div>
                    <div class="star--full"></div>
                    <div class="star--full"></div>
                    <div class="star--empty"></div>
                </div>
            </div>
            <div class="burger_list_item--info">
                <h2 class="burger_list_item--title">Burger Name</h2>
                <p class="burger_list_item--ingredients">Składniki: sałata, wieprzowina, pomidor, ogórek, ser</p>
                <p class="burger_list_item--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum sodales magna at dictum.</p>
                <p class="burger_list_item--price">Cena: 11zł</p>
                <button class="main_button main_button--burger_list">Zamów</button>
            </div>
        </div>

        <!-- END BURGER LIST ITEM -->

    </section>

    <!-- BURGER MAKER BANNER -->

    <section class="burger_maker--banner">
        <div class="burger_maker_border--top"></div>
        <div class="burger_maker_banner--container d-flex flex-column justify-content-center align-items-center">
            <img src="/media/svg/burger_maker_banner_title.svg" alt="banner_title">
            <h2>Stwórz smacznego burgera</h2>
            <button class="main_button">Burger Maker</button>
        </div>
    </section>

    <!-- END BURGER MAKER BANNER -->
</main>

<%- include('./components/footer.ejs') -%>